body{
    color: rgb(65, 54, 80);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#cabecera{
    background: lightgrey;
    color: rgb(62, 1, 70);
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 5px 30px 0px rgb(65, 54, 80);
    font-size: 2em;
    font-weight: bold;
}
.container{
    width: 70%;
    height: 80vh;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
.container h1{
    font-size: 30px;
}